body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.navbar {
  background-color: #98082C;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_content{
  background-color: #F2F0E9;
  padding-top: 1rem;
}

.module{
  background-color: #B7536C;
  border-radius: 19px;
  margin: 2rem;
}

.ElementCalendari{
  background-color: #B7536C;
  border-radius: 19px;
}

.rounded-image{
  border-radius: 25px;
  width: auto;
  margin: 1rem;
}

.footer{
  background-color: #98082C;
  padding: 15px;
  color: #fff;
}

.module div{
  height: -moz-fit-content;
  height: fit-content;
}

.module div h1{
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 0px;
  font-weight: 700;
  text-align: center;
  padding: 15px;
}

.module div p{
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: 15px;
}

.module button{
  background-color:#98082C;
  border-radius: 10px;
  color: #fff;
  text-align: center;
}

.module #DivBoto{
  display: flex;
  justify-content: center;
  align-items: center;
}

.divisor{
  background-color:#98082C;
  margin: 2rem;
  height: 5px;
  border-radius: 20px;
}

.menu-icon {
  cursor: pointer;
  display: none;
}

.title{
  color:#98082C;
  font-size: 32px;
  font-weight: bold;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

.search-icon {
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}

.search-bar {
  display: none;
  background-color: #98082C;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.search-bar input {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.search-bar button {
  background-color: #98082C;
  color: #333;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.divdia{
  background-color: #E8EEF2;
  color: #000;
  height: 5rem;
  font-size: 40px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .search-icon {
    display: none;
  }

  .search-bar {
    padding-top: 60px;
  }
}


body {
  margin: 0;
}

.imageText{
  background-color: url('../images/pexels-juliana-chyzhova-2648989.jpg');
  background-size: cover;
  background-position: center;
  height: 300px; /* Ajusta la altura según sea necesario */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  /* color: white; Color del texto */
  /* text-align: center; Alineación del texto */
  /* font-size: 24px; Tamaño del texto */
}

.icon-footer {
  display: flex;
}

.icon {
  width: 24px; /* Ancho de cada icono */
  height: 24px; /* Altura de cada icono */
  margin-right: 10px; /* Espacio entre los iconos */
}

.navbar {
  background-color: #98082C;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.siluetafooter{
  fill: #F2F0E9;
}

#Icons.icons_menu {
  display: flex;
}

#Icons.icons_menu > div {
  margin-right: 10px; /* Ajusta el margen según sea necesario para separar los iconos */
}

.main_content{
  background-color: #F2F0E9;
  padding-top: 1rem;
}
.module{
  background-color: #B7536C;
  border-radius: 19px;
  margin: 2rem;
}
.ElementCalendari{
  background-color: #B7536C;
  border-radius: 19px;
}
.rounded-image{
  border-radius: 25px;
  width: auto;
  margin: 1rem;
}
.footer{
  background-color: #98082C;
  padding: 15px;
  color: #fff;
}

.module div{
  height: fit-content;
}
.module div h1{
  font-family: 'Lato', sans-serif; 
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 0px;
  font-weight: 700;
  text-align: center;
  padding: 15px;
}
.module div p{
  font-family: 'Josefin Sans', sans-serif; 
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: 15px;
}

.module button{
  background-color:#98082C;
  border-radius: 10px;
  color: #fff;
  text-align: center;
}

.module #DivBoto{
  display: flex;
  justify-content: center;
  align-items: center;
}

.divisor{
  background-color:#98082C;
  margin: 2rem;
  height: 5px;
  border-radius: 20px;
}

.menu-icon {
  cursor: pointer;
  display: none;
}

.title{
  color:#98082C;
  font-size: 32px;
  font-weight: bold;
  
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

.search-icon {
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}

.search-bar {
  display: none;
  background-color: #98082C;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.search-bar input {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.search-bar button {
  background-color: #98082C;
  color: #333;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.divdia{
  background-color: #E8EEF2;
  color: #000;
  height: 5rem;
  font-size: 40px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.contenedor {
  background-image: url('/images/pexels-juliana-chyzhova-2648989.jpg');
  background-size: cover;
  background-position: center;
  height: 300px; /* Ajusta la altura según sea necesario */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Color del texto */
  text-align: center; /* Alineación del texto */
  font-size: 24px; /* Tamaño del texto */
}

img{
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .menu-icon {
      display: block;
  }
  .search-icon {
      display: none;
  }
  .search-bar {
      padding-top: 60px;
  }
}